body{
  margin: 0;
}

.display-board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  margin-top: 2em;
}

.btn {
  border: 1px solid white;
}

.alert-message {
  display: block;
  width: 250px;
  height: 50px;
  background-color: lightgrey;
  margin: auto;
  margin-top: 8em;
}

.players-form {
  display: block;
  position: absolute;
  width: 30%;
  background-color: #D3D3D3;
  top: 10em;
  left: 30em;
}

.players-form button {
  border: none;
}
