body {
  margin: 0;
}

.display-board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  margin-top: 4em;
}

.btn {
  border: 1px solid white;
}

.players-form {
  display: block;
  position: absolute;
  width: 30%;
  background-color: #d3d3d3;
  top: 10em;
  left: 30em;
}

.main-restart {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.restart-buttons {
  padding: 50px;
  background-color: white;
}

.hide-buttons {
  display: none;
}

.players-form button {
  border: none;
}

.hide-section {
  display: none;
}

.hide-players {
  display: none;
}

.general-section {
  background-color: #dcdcdc;
  width: 60%;
  margin: auto;
  height: 65%;
  margin-top: 2em;
  padding-bottom: 100px;
}

.board-name {
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #808080;
  text-align: center;
}

.first-player-name {
  border: 2px solid #808080;
  background-color: ##789;
  flex: 2;
  padding: 20px;
}

.versus {
  color: black;
  border: 2px solid #808080;
  padding: 20px;
  background-color: white;
  flex: 1;
}

.second-player-name {
  border: 2px solid #808080;
  padding: 20px;
  background-color: #696969;
  flex: 2;
}

.board-cell button {
  border: 2px solid white;
  outline: none;
  border-radius: 3px;
  font-size: 50px;
  color: white;
  width: 100px;
  height: 100px;
  background-color: #20b2aa;
}
